{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% crispy form example_form.helper %}
{% block content %}
    <div class="content-section">
    {% crispy form %}
    {% if flour %}
    <div class='container'>
    <div class=" row border-top mb-2 mt-4">
        <legend class="border-rounded-sm pt-4 mb-3">Ingredients:
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-3 lead">{{ flour }} g flour</li>
            <li class="list-group-item col-md-3 lead">{{ water }} g water</li>
            <li class="list-group-item col-md-3 lead">{{ salt }} g salt</li>
            <li class="list-group-item col-md-3 lead">{{ yeast }} g yeast</li>
        </ul>
    </div>
    </div>
    {% endif %}
    </div>
{% endblock content %}
