{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    {% if title %}
        <title>BDanielsen | {{ title }}</title>
        <link rel="icon" type="image/png" href="/media/beer.png" style="color: goldenrod">
    {% else %}
        <title>BDanielsen</title>
        <link rel="icon" type="image/png" href="/media/beer.png" style="color: goldenrod">
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="width: 100%">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">BDanielsen</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto" style="max-width: 1400px">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
{#                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Calculators
                    </a>

                    <div class="dropdown-menu bg-steel">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'pizza' %}">Pizzadough Calculator</a>
                                <a class="nav-link" href="{% url 'vinmonopolet' %}">Vinmonopolet Calculator</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <form id='searchform' class="form-inline" action="{% url 'search' %}" method="get">
                        <input class="form-control pl-4 mr-sm-2" type="text" name="q" placeholder="Search posts" aria-label="Search"
                               style="width: 300px; outline: none; box-shadow: none; border: none">
{#                    <button class="btn" type="button" onclick="searchform.submit()">Search</button>#}
                        <i class="fas fa-search mx-2" style="color: #cbd5db; font-size: 20px"></i>
                    </form>
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <form id='searchform' class="form-inline" action="{% url 'search' %}" method="get">
                    <input class="form-control pl-4 mr-sm-2" type="text" name="q" placeholder="Search posts" aria-label="Search" style="width: 200px">
{#                    <button class="btn" type="button" onclick="searchform.submit()">Search</button>#}
                    <i class="fas fa-search mx-2" style="color: #cbd5db; font-size: 20px"></i>
                    </form>
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

   <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <legend class="ml-3 border-bottom">Ulrik Bernhardt Danielsen</legend>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="https://www.google.com/maps/place/Nonnegata+8,+7014+Trondheim/data=!4m2!3m1!1s0x466d31a1fe48f901:0xd5cc5284f70f18f7?sa=X&ved=2ahUKEwiLwKi708rjAhVkposKHR4CCTMQ8gEwAHoECAoQAQ">
                    <i class="fas fa-map-marked-alt" style="font-size: x-large; color: #2E8B57"></i>  Nonnegata 8, 7014 TRONDHEIM
                </a></li>
                <li class="list-group-item list-group-item-light"><a href="https://www.facebook.com/DJUllee">
                    <i class="fab fa-facebook-square" style="font-size: x-large;color: blue"></i>  Ulrik Danielsen</a></li>
                <li class="list-group-item list-group-item-light"><a href="mailto: ulrik_danielsen@hotmail.com">
                    <i class="far fa-envelope" style="font-size: x-large; color: crimson"></i>  ulrik_danielsen@hotmail.com</a></li>
                <li class="list-group-item list-group-item-light"><a href="tel:+47-41229523">
                    <i class="fas fa-phone" style="font-size: x-large; color: darkgrey"></i>  +47 41229523</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
